body {
    font-family: monospace;
    background-color: #32322c;
}

.hero-body {
background-color: #36f1cd;
}

#logo {
    color: black;
}

#sub {
    color: black;
}

.container {
    overflow:hidden ;
}
.item{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainContainer {
    display:flex;
    justify-content: center;
}
.wrapper {
    flex-wrap: wrap;
    max-width: 30%;
    min-width: 25%;
    padding: 1%;
    text-align: center;
    
}

#card {
    box-shadow: 0 0 10px 3px #48d8e0;
    min-height: 100%;
    margin-right: 0.5%;
    padding: 2.5%;
    border-radius: 15px;
    border: solid;
    border-width: thin;
    background-color: #13c4a3;
    ;
}
.btn_wrapper {
    display: block;
    text-align: center;
}

#start {
    margin: 2%;
    background-color: #cf77a4;
    box-shadow: 0 0 10px 5px #e048b2;
}

#icon {
    padding: 1%;
}

#title {
    padding: 0.5%;
    font-weight: bold;
    font-size: larger;
    
    /* font-family: 'Neonderthaw', cursive; */
    /* font-family: 'Charmonman', cursive; */
    /* font-family: 'Homemade Apple', cursive; */
}

#previous {
    padding: 0.5%;
    font-weight: bold;
    font-size: larger;
}

#movieTitle {
    padding: 0.5%;
    font-weight: bold;
    font-size: larger;

}


.selectMenu {
    display:block;
}

#summary {
    padding: 3.5%;
    text-align: left;;
}

footer {
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
    color: #13c4a3;
}

footer h1 {
    padding: 1%;
}

.customHR {
    margin: 0;
    background-color: #13c4a3;
}

.footerH1 {
    display: inline;
}