body {
    font-family: monospace;
    background-color: #32322c;
}

.hero-body {
background-color: #36f1cd;
}

#logo {
    color: black;
}

#sub {
    color: black;
}

.container {
    overflow:hidden ;
}
.item{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    padding: 1%;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
}

.btn_wrapper {
    display: block;
    text-align: center;
}

#start {
    background-color: #39A0ED;
}

#icon {
    padding: 1%;
}

#title {
    padding: 0.5%;
    font-weight: bold;
    font-size: larger;
    
    /* font-family: 'Neonderthaw', cursive; */
    /* font-family: 'Charmonman', cursive; */
    /* font-family: 'Homemade Apple', cursive; */
}

#previous {
    padding: 0.5%;
    font-weight: bold;
    font-size: larger;
}

#movieTitle {
    padding: 0.5%;
    font-weight: bold;
    font-size: larger;

}

#card {
    margin-right: 0.5%;
    padding: 1%;
    border-radius: 15px;
    border: solid;
    border-width: thin;

    width: 30%;

    background-color: #13c4a3;
    ;
}




.selectMenu {
    display:block;
}

#summary {
    padding: 0.5%;
    text-align: left;;
}


/* trying things */
